.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}
.customerField {
  display: flex;
  align-items: flex-end;
  height: 72px;
}
.fullWidth {
  flex: 1;
  max-width: none;
}
.mdc-select {
  padding-bottom: 8px;
}
